*{
    padding: 0;
    margin:0;
}

header:only-child{
    background-image: url(./img/vincent-abric-U--hvQ5MKjY-unsplash.jpg);
    width: 100%;
    height: 100%;
}

h1:nth-child(1){
    font-family: shadows into light;
    font-size: 44px;
    color: white;
    background-blend-mode: color-dodge;
}

h2:nth-child(1){

}

p:nth-child(1){

}

p:nth-child(2){

}

p:nth-child(3){

}